<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goramod</title>
    {{ vite "react" "@/main.css" "@/app.tsx" }}
</head>
<body>
    <div id="app"></div>
</body>
</html>
